<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Page</title>
</head>
<body>
    <a href="/">Main</a>

    <h1>Users</h1>

    <!-- Search Bar -->
    <input type="text" id="searchInput" placeholder="Search by email..." >

    <div id="usersContainer">
        <% if (users.length === 0) { %>
            <p>No users available.</p>
        <% } else { %>
            <% users.forEach(user => { %>
                <div class="user">
                    <h3><a href="/api/auth/single-user?_id=<%=user._id%>"><%= user.email %></a><h3>
                    <p><%= user.role %></p>
                    <h3><a href="users/update-user?_id=<%=user._id%>">Update User</a><h3>
                    <p>-----------------------------------------------------------------------</p>
                </div>
            <% }) %>
        <% } %>
    </div>

    <script src="/searchUsers.js">
    </script>
</body>
</html>
