<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <h2>Forgot Password Page</h2>
    <form id="forgotPasswordForm" >
        <label>Email:</label>
        <input type="email" name="email" id="email" required>
         
        <button type="submit">send</button>
    </form>

 <script src="/forgotPassword.js"></script>
</body>
</html>
