<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h2>Reset Password</h2>
    <form id="ResetPasswordForm" >
        <label>Password:</label>
        <input type="password" name="password" id="password" required>

        <label>Reenter your Password</label>
        <input type="password" name="newPassword" id="newPassword" required>

        <button type="submit">Submit</button>
    </form>

 <script src="/resetPassword.js"></script>
</body>
</html>
