<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify Email</title>
</head>
<body>
        <h2>Verify Email Page</h2>

    <form id="verifyEmailForm" >
        <label>Email:</label>
        <input type="email" name="email" id="email" required>

        <label>Code:</label>
        <input type="text" name="code" id="code" required>
         
        <button type="submit">Verify</button>
    </form>

 <script src="/verifyEmail.js"></script>
</body>
</html>
